<!DOCTYPE html>
<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">    
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes"> 
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="description" content="Name an MC and we'll tell you how sexist they are.">
  <meta property="og:title" content="Name an MC and we'll tell you how sexist they are.">
  <title><%= company.name %></title>
  <script>window.rm = {};</script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
</head>
<body>
  <header class="small">
    <div class="wrapper">
      <h1><%= company.name %></h1>
      <nav>
        <a href="/companies">All Companies</a>
        <a href="/companies/new">New Company</a>
        <a href="/investigations">Investigations</a>
        <a href="/news_sources">All News Sources</a>
      </nav>
    </div>
  </header>
  <section>
    <h3><%= company.name %></h3>
    <p><%= company.mission_statement %></p>
    <p><%= company.mission_statement_proof %></p>
    <p><%= company.mission_statement_investigator %></p>
  </section>
  <footer>Made by <a href="http://andersfisher.com">Anders Fisher</a></footer>
</body>
</html>